name: Deploy GCP VM with Terraform

on:
  push:
    branches:
      - main
  # Permet de déclencher la destruction manuellement sans attendre un push
  workflow_dispatch:
    inputs:
      confirm_destroy:
        description: 'Cocher pour lancer le DESTROY au lieu du Deploy'
        required: false
        type: boolean
        default: false

jobs:
  plan:
    name: "Terraform Plan"
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    defaults:
      run:
        working-directory: ./terraform
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - id: 'auth'
        name: Authenticate to GCP
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: ${{ secrets.GCP_TOKEN }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan -var-file=prod/Prod.tfvars

  apply:
    name: "Terraform Apply"
    # Ne s'exécute QUE si on n'a pas coché la case de destruction
    if: github.event.inputs.confirm_destroy != 'true'
    runs-on: ubuntu-latest
    needs: plan
    environment: production
    permissions:
      contents: 'read'
      id-token: 'write'
    defaults:
      run:
        working-directory: ./terraform
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - id: 'auth'
        name: Authenticate to GCP
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: ${{ secrets.GCP_TOKEN }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply -var-file=prod/Prod.tfvars -auto-approve

  destroy:
    name: "Terraform Destroy"
    # Ne s'exécute QUE si la case "confirm_destroy" a été cochée manuellement
    if: github.event.inputs.confirm_destroy == 'true'
    runs-on: ubuntu-latest
    needs: plan
    environment: production
    permissions:
      contents: 'read'
      id-token: 'write'
    defaults:
      run:
        working-directory: ./terraform
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - id: 'auth'
        name: Authenticate to GCP
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: ${{ secrets.GCP_TOKEN }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Destroy
        run: terraform destroy -var-file=prod/Prod.tfvars -auto-approve